<div class="container-fluid">
  <div class="row">
    <div class="col-auto">
      <h2>My Devices</h2>
      <p>Last update : {{lastUpdate | async | date: 'short'}}</p>
      <ul class="list-group">
        <app-appareil *ngFor="let appareil of appareils; let i = index"
                      [appareilName]="appareil.name"
                      [appareilStatus]="appareil.status"
                      [index]="i"
                      [id]="appareil.id"></app-appareil>
      </ul>
      <button class="btn btn-success"
              [disabled]="isAuth"
              (click)="onTurnOn()">All On!</button>

      <button class="btn btn-danger"
              [disabled]="isAuth"
              (click)="onTurnOff()">All Off!</button>

      <button style="float: right" class="btn btn-danger"
              *ngIf="isAuth"
              (click)="onSignOut()">Log Out</button>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
